*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    max-width: 1280PX;
    color: black;
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: left;
    background-color: #ffffff;
    padding-left: 30px;
    padding-top: 10px;
    height: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
}
main{
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
}

h2{
    background-color: #eeeeee;
    padding-top: 5px;
    padding-bottom: 5px;
}
h4{
    color: rgb(5, 5, 128);
}

li{
    text-decoration: none;
    margin-left: 20px;
    
}
footer{
    height: 50px;
    background-color: #ffffff;;
    margin-top: 15px;
}

#experiencia{
    text-align: justify;
    padding-bottom: 15px;
    padding-top: 15px;
}


@media (max-width: 1440px) {
    main {
        max-width: 375px;
    }
}

